.policy-holder-box {
    margin-top: 20vh;
    margin-bottom: 5vh;
    align-content: center;
    text-align: center;
}
.claim-btn {
    background-color: #FA551E;
    color: white;
    border: none;
    width: 200px;
}
.level {
    border-bottom: 1px solid #FA551E;
    padding-bottom: 3px;
}