<div class="policy-holder-box">
    <h1 class="title">Linden Schoeman</h1>
    <h2 class="subtitle">Select a policy below</h2>
</div>
<div class="container">
<nav class="level">
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Policy Number</p>
        <p class="">123</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Risk Address</p>
        <p class="">445 The Corners 
            Apartments, Cnr Hill 
            and Republic Road, 1868 
        </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Sum Insured</p>
        <p class="">R 4 mil</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Premium</p>
        <p class="">R 70 k</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Status</p>
        <p class="">Active</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading"></p>
            <a class="button is-medium claim-btn" (click) = "goClaim()">Claim</a>
        </div>
    </div>
</nav>
<nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Policy Number</p>
            <p class="">1234</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Risk Address</p>
            <p class="">445 The Corners 
                Apartments, Cnr Hill 
                and Republic Road, 1868 
            </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Sum Insured</p>
            <p class="">R 6 mil</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Premium</p>
            <p class="">R 80 k</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Status</p>
            <p class="">Active</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading"></p>
                <a class="button is-medium claim-btn" (click) = "goClaim()">Claim</a>
            </div>
        </div>
    </nav>
</div>