.middle-section {
    margin-top: 20vh;
    align-content: center;
}
.login-btn {
    background-color: #FA551E;
    color: white;
    border: none;
    width: 200px;
}
.captcha-image {
    height: 90px;
    width: 60%;
}